# ==============================================================================
# Build
# ==============================================================================

/build/
out/
cmake-build-*/

# ==============================================================================
# macOS
# ==============================================================================

.DS_Store

# ==============================================================================
# Visual Studio
# ==============================================================================

.vs/
*.user
*.suo

# ==============================================================================
# VS Code
# ==============================================================================

.vscode/*
!.vscode/settings.json